@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

@import "tailwindcss";


@theme {
    --font-sans: InterVariable, sans-serif;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
